#cabeza{
    height: 90px;
    width: 1536px;
    background-color: blue;
    
}
#image{
    height: 90px;
    width: 90px;
}
#nav{
    height: 90px;
    width: 1536px;
}
#atras{
    width: 70px;
    height: 70px;
    border: none;
    color: none;
}