

<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: red">
  <img src="imagenes/logo3.png" alt="" height="50 px" width="50 px" > 
  <a class="navbar-brand" href="#" style="font-size: 25px; font-family: 'Ubuntu', sans-serif; color: blue">Institución Educativa "Buen Pastor" - Ñaña</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="[ '/login']">Iniciar Sesión</button>
    </form>
  </div>
</nav>
<div class="container">
   <h1>Bienvenidocenter</h1>
</div>