
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/81c1d7c1e2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <label for="" > <i class="fas fa-user-tie" style="font-size: 50px"></i></label>
    <a class="navbar-brand" href="#" style="font-size: 30px" style="width: 40px; font-family: 'Ubuntu', sans-serif; font-size: 30px"> Página Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="font-size: 20px"><span class="glyphicon glyphicon-user" style="font-size: 20px"></span> Update Profile</a></li>
        <li><a href="#" style="font-size: 20px" [routerLink]="[ '/login']"><span class="glyphicon glyphicon-log-in" style="font-size: 20px" ></span> Close</a></li>
      </ul>
    </div>
  </nav>
  <div class="col">
  <div class="container">
    <br><br><br><br>
      <button id="botonpri" type="button" class="btn btn-default btn-lg btn-block" [routerLink]="[ '/asistencia']">Asistencia Empleado    <i class="fas fa-list-ul" style="width: 40px"></i></button>
  </div>
  </div>
  
  <div class="col">
  <div class="container">
      <br><br><br><br>
        <button id="botonpri" type="button" class="btn btn-default btn-lg btn-block" [routerLink]="[ '/usuarios']">Evaluación Empleado <i class="fas fa-hands-helping" style="width: 40px"></i></button>
    </div>
  </div>